<% provide(:title, 'Log in') %>

<h1>Log in</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= bootstrap_form_for(:session, url: login_path) do |f| %>
      <%= f.email_field :email %>
      <%= f.password_field :password, label: ("Password #{link_to'(forgot password)', new_password_reset_path}").html_safe %>
      <%= f.check_box :remember_me, label: 'Remember me on this computer' %>
      <%= f.primary 'Log in', data: { disable_with: 'Logging in...' } %>
    <% end %>

    <p>New user? <%= link_to 'Sign up now!', signup_path %></p>
  </div>
</div>