<% provide(:title, 'Forgot password') %>

<h1>Forgot password</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= bootstrap_form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.email_field :email %>
      <%= f.primary 'Submit', data: { disable_with: 'Sending...' } %>
    <% end %>
  </div>
</div>