<%= render 'shared/error_messages', object: f.object %>
<%= f.text_field :name %>
<%= f.email_field :email %>
<%= f.password_field :password %>
<%= f.password_field :password_confirmation, label: 'Confirmation' %>