<% provide(:title, 'Edit user') %>

<h1>Update your profile</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= bootstrap_form_for @user do |f| %>
      <%= render 'fields', f: f %>
      <%= f.primary 'Save changes', data: { disable_with: 'Saving...' } %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails">change</a>
    </div>
  </div>
</div>