<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= bootstrap_form_for(@user) do |f| %>
      <%= render 'fields', f: f %>

      <%= f.primary 'Create my account', data: { disable_with: 'Creating...' } %>
    <% end %>
  </div>
</div>