<%= bootstrap_form_for(@micropost, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.text_area :content, hide_label: true, placeholder: 'Compose new micropost...', rows: 3 %>
  <%= f.primary 'Post', data: { disable_with: 'Posting...' } %>
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB.  Please choose a smaller file.');
    }
  });
</script>